/* Estilos generales */
body {
    background: #222A68;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#gameContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 40px;
    color: #E2ADF2;
}

h2 {
    font-size: 28px;
    color: #AB81CD;
    margin-bottom: 15px;
}

h3 {
    font-size: 22px;
    color: #E2ADF2;
}

/* Información del Jugador */
#playerInfo {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    width: 220px;
}

#playerAvatar {
    text-align: center;
}

#playerAvatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#playerName {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

#playerCredits {
    margin-top: 15px;
    text-align: center;
}

/* Estilo mejorado para el desplegable */
#playerInventory select {
    background-color: #222A68;
    color: #fff;
    font-size: 16px;
    padding: 5px 7px;
    border-radius: 10px;
    border: 1px solid #574AE2;
    width: 60%;
    max-width: 220px;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 15px;
}

/* Estilo para las opciones dentro del select */
#playerInventory option {
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para las opciones */
#playerInventory option:hover {
    background-color: #574AE2;
}

/* Efecto de focus para el select */
#playerInventory select:focus {
    border-color: #E2ADF2;
    background-color: #333;
}


/* Sección de Planetas */
#planetInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 100px;
}

.planet-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.planet-card {
    background: #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 200px;
}

.planet-card h3 {
    font-size: 20px;
    color: #E2ADF2;
}

.planet-card p {
    font-size: 16px;
    color: #fff;
}

.planet-card button {
    background-color: #AB81CD;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.planet-card button:hover {
    background-color: #654597;
}

.planet-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

/* Sección de acciones de materiales */
#actions {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

#actions button {
    background-color: #E2ADF2;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

#actions button:hover {
    background-color: #AB81CD;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}
